* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	color: white;
}
.container {
	width: 80vh;
	height: 80vh;
}

h1 {
	text-align: center;
	margin: 0;
	margin-top: 30px;
	letter-spacing: 5px;
}
h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.2s;
}
.game {
	opacity: 0;
}
.end {
	opacity: 1;
}
.main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.field {
	width: 500px;
	height: 500px;
	background-color: #56daff;
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	border: 3px solid black;
	border-radius: 7px;
}

@media (max-width: 550px) {
	.field {
		width: 90vw;
		height: 90vw;
	}
}

.cell {
	color: black;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
}
.empty {
	cursor: pointer;
}
.button-field {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.restart {
	font-size: 20px;
	display: inline-block;
	align-items: center;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	padding: 20px 40px;
	border-radius: 30px;
	transition: background-color 0.2s ease-in;
}
.restart:hover {
	background-color: rgb(24, 24, 24);
}
.restart:active {
	font-size: 19px;
}
.bg {
	background-color: rgb(81, 255, 0);
}
